#btnToClick {
  padding: 15px 20px;
  border: 1.5px black dotted;
  border-radius: 5px;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
  background-color: beige;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

body > input {
  padding: 10px 80px;
  margin-bottom: 20px;
}

.buttonAlbum {
  padding: 15px 20px;
  border: 1.5px black dotted;
  border-radius: 5px;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
  background-color: beige;
}
